@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom CSS rules to a tailwind */
@layer components {
  .nav-link {
    @apply block font-medium text-xl text-gray-800 py-2 px-4 cursor-pointer;
  }
  .active {
    @apply text-rose-600 px-4 after:content-[''] after:w-[75%] after:bg-rose-600 after:h-[3px] after:block after:my-0 after:mx-auto cursor-pointer;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,700&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.orderContainer::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

.banner {
  background-image: url("./assets/images/bannerbackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 85vh;
}
.signup-bg {
  background-image: url("./assets/images/signup-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  height: 100vh;
}
.poppins {
  font-family: "Poppins", sans-serif;
}

/* red color */
.bg-primary {
  background: #f91944;
}

/* dark red  */
.bg-primary-dark {
  background: #ce193c;
}

/* red color */
.text-primary {
  color: #f91944;
}

/* red color */
.border-primary {
  border: 1px solid #f91944;
}

/* off white */
.input-bg {
  background-color: #f5f5f5;
}

/* Glassmorphism card effect */
.glass {
  backdrop-filter: blur(14px) saturate(180%);
  -webkit-backdrop-filter: blur(14px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.57);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}
